@model IEnumerable<AkiraMovies.Models.MovieModels>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<p>
	@Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
</p>
@{ 
	if(!Model.Any())
	{
		<p>There are no movies yet!</p>
	}
	else
	{
		<table class="table table-bordered table-hover">
			<thead>
				<th style="font-size:20px">Movie</th>
				<th style="font-size:20px">Genre</th>
			</thead>
			<tbody>
				@foreach (var mov in Model)
				{
					<tr>
						<td>@Html.ActionLink(mov.Name, "Edit", "Movies", new { id = mov.Id }, null)</td>
						<td>@mov.Genre.Name</td>
					</tr>
				}
			</tbody>
		</table>
	}
}

