@model IEnumerable<AkiraMovies.Models.CustomerModels>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@{ 
	if(!Model.Any())
	{
		<p>There are no customers yet!</p>
	}
	else
	{
		<table class="table table-bordered table-hover">
			<thead>
				<th style="font-size:20px">Customer</th>
				<th style="font-size:20px">Membership Type</th>
			</thead>
			<tbody>
				@foreach(var cust in Model)
				{
					<tr>
						<td>@Html.ActionLink(cust.Name, "Edit", "Customers", new { id = cust.Id }, null)</td>
						<td>@cust.MembershipType.Name</td>
					</tr>
				}
			</tbody>
		</table>
	}
}

